<div class="rounded border border-success">
  <div class="row" class="text-center" >
    <h3 class="text-center">TCRM ACTUAL</h3>
    <div class="row">
      <div class="col-md-4">
          <strong>Valor actual: </strong>
          <p>{{trmActual.valor}}</p>
      </div>
      <div class="col-md-4">
          <strong>Valido desde: </strong>
          <p>{{trmActual.validoDesde}}</p>
      </div>
      <div class="col-md-4">
          <strong>Valido hasta: </strong>
          <p>{{trmActual.validoHasta}}</p>
      </div>
    </div>
  </div>
</div>